* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

:root {
  --primary-color: skyblue;
  --secondary-color: blue;
  --disbaled: grey;
  --green: lightgreen;
  --grey: lightgrey;
  --yellow: lightyellow;
  --white: white;
}